ADMIN_NAME=Admin
ADMIN_EMAIL=admin@inejoma.com
ADMIN_PASSWORD=Admin123
JWT_SECRET=cambia-esta-clave-secreta-en-produccion
JWT_EXPIRATION=900
POSTGRES_USER=inejoma
POSTGRES_PASSWORD=inejoma
POSTGRES_DB=inejoma
